[submodule "Lib_TCP_UDP_Client"]
	path = Lib_TCP_UDP_Client
	url = http://git.home.lan/root/Lib_TCP_UDP_Client.git
[submodule "Lib_TCP_UDP_Server"]
	path = Lib_TCP_UDP_Server
	url = http://git.home.lan/root/Lib_TCP_UDP_Server.git
